<div class="flex flex-col items-center gap-4">
  <form 
    class="flex justify-center gap-3"
    (submit)="selectMood(moodInput.value); $event.preventDefault()"
  >
    <input 
      class="border border-gray-300 rounded px-3 py-2 w-64"
      type="text"
      #moodInput
      placeholder="How are you feeling?"
    />
    <button
      type="submit"
      class="px-4 py-2 border rounded bg-green-500 text-white hover:bg-green-900 transition"
    >
      Get Songs
    </button>
  </form>

  <div class="flex gap-2 flex-wrap justify-center">
    @for (mood of moods; track mood) {
      <button
        (click)="selectMood(mood)"
        class="px-4 py-2 rounded-3xl border border-white bg-transparent text-white hover:bg-green-900 transition"
      >
        {{ mood }}
      </button>
    }
  </div>


  @if (isLoading) {
    <div class="mt-8 text-lg text-black">
      Loading...
    </div>
  }

  @if (!isLoading && songs.length > 0) {
    <div class="mt-8 w-full max-w-2xl">
      <h2 class = "text-2xl font-bols mb-4 text-center">
        @if(selectedMood){
        Tunes for when you're feeling {{ selectedMood }}
        } 
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
        @for(song of songs; track song.url){
          <div class = "bg-white shadow-md rounded-lg p-4 overflow-hidden hover:shadow-lg transition">
            <div class="aspect-square overflow-hidden">
              <img
                [src] = "song.image"
                [alt] = "song.name"
                class="w-full h-full object-cover"
              />
            </div>
            <div class="p-4">
              <h3 class="font-semibold text-lg mb-1">{{song.name}}</h3>
              <p class="text-gray-600">{{song.artist}}</p>
              <a
                [href]="song.url"
                target="_blank"
                class="mt-3 block text-center bg-green-500 text-white py-2 px-4 rounded hover:bg-green-900 transition"
              > Open in Spotify
              </a>
            </div>
          </div>
        }
      </div>
    </div>
  } 

  
</div>
