<div class="flex flex-col items-center gap-4">
  <form 
    class="flex justify-center gap-3"
    (submit)="selectMood(moodInput.value); $event.preventDefault()"
  >
    <input 
      class="border border-gray-300 rounded px-3 py-2 w-64"
      type="text"
      #moodInput
      placeholder="How are you feeling?"
    />
    <button
      type="submit"
      class="px-4 py-2 rounded bg-green-500 text-white hover:bg-green-600 transition"
    >
      Get Song
    </button>
  </form>

  <div class="flex gap-2 flex-wrap justify-center">
    @for (mood of moods; track mood) {
      <button
        (click)="selectMood(mood)"
        class="px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600 transition"
      >
        {{ mood }}
      </button>
    }
  </div>
  @if (isLoading) {
    <div class="mt-8 text-lg text-gray-600">
      Loading...
    </div>
  }
  @if (!isLoading && songs.length > 0) {
    <div class="mt-8">
      <h2>@if(selectedMood){
        Tunes for when you're feeling {{ selectedMood }}
        }
      </h2>
    
      <div>
        @for(song of songs; track song.url){
          <div>
            <img
              [src] = "song.image"
              [alt] = "song.name"
            />
          </div>
          <div>
            <h3>{{song.name}}</h3>
            <p>{{song.artist}}</p>
            <a
              [href]="song.url"
              target="_blank"
              class="text-blue-500 hover:underline"
            > Open in Spotify
            </a>
          </div>
        }
      </div>
    </div>
  } 

  
</div>
